// font-face
@mixin font-face(
  $font,
  $path,
  $weight: normal,
  $style: normal
  ) {
  @font-face {
    font-family: $font;
    src: url("#{$path}.woff2") format("woff2");
    src: url("#{$path}.woff") format("woff");
    src: url("#{$path}.ttf") format("ttf");
    font-weight: $weight;
    font-style: $style;
  }
}
